<div class="wrap">
  <div class="section group">
    <div class="col_1_of_middle span_1_of_middle">
      <dl id="sample" class="dropdown">
        <dt>
          <a href="#">
            <span>Please Select a Country</span>
          </a>
        </dt>
        <dd>
          <ul>
            <li>
              <a href="#">Australia
                <%= image_tag "as.png", class: "flag" %>
                  <span class="value">AS</span>
              </a>
            </li>
            <li>
              <a href="#">Sri Lanka
                <%= image_tag "srl.png", class: "flag" %>
                  <span class="value">SL</span>
              </a>
            </li>
            <li>
              <a href="#">Newziland
                <%= image_tag "nz.png", class: "flag" %>
                  <span class="value">NZ</span>
              </a>
            </li>
            <li>
              <a href="#">Pakistan
                <%= image_tag "pk.png", class: "flag" %>
                  <span class="value">Pk</span>
              </a>
            </li>
            <li>
              <a href="#">United Kingdom
                <%= image_tag "uk.png", class: "flag" %>
                  <span class="value">UK</span>
              </a>
            </li>
            <li>
              <a href="#">United States
                <%= image_tag "us.png", class: "flag" %>
                  <span class="value">US</span>
              </a>
            </li>
          </ul>
        </dd>
      </dl>
    </div>
    <div class="col_1_of_middle span_1_of_middle">
      <ul class="f_list1">
        <li>
          <span class="m_8">Sign up for email and Get 15% off</span>
          <div class="search">
            <input type="text" name="s" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
            <input type="submit" value="Subscribe" id="submit" name="submit">
            <div id="response"> </div>
          </div>
          <div class="clear"></div>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>
