<body>
<%= render "banner" %>
  <div class="main">
    <div class="wrap">
      <%= render "social" %>
      <%= render partial: "products", locals: {products_box1: @products_box1, products_box2: @products_box2} %>
      <%= paginate @products, theme: 'twitter-bootstrap-3' %>
      <%= search_form_for @search, url: root_path do |f|%>
        <%= select_tag :limit, options_from_collection_for_select(Settings.show_limit, :second, :second, selected: params[:limit] || Settings.show_limit.limit),id: "show-limit"%>
        <%= f.submit "search", class: "btn btn-info", style: "display: none; margin-right: 10px"%>
      <% end %>
    </div>
  </div>
  <div class="footer">
    <%= render "footer_top" %>
    <div class="footer-middle">
      <%= render "footer_middle" %>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear'
      };
      $().UItoTop({ easingType: 'easeOutQuart' });
      $("#show-limit").on("change", function(){
        $(this).closest("form").trigger("submit");
      });
    });
  </script>
  <a href="#" id="toTop" style="display: block;">
    <span id="toTopHover" style="opacity: 1;"></span>
  </a>
